a, button {
    outline: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.popup_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}

.popup {
    width: 80%;
    position: fixed;
    display: none;
    z-index: 15;
    padding: 3px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.popup_close {
    position: absolute;
    z-index: 16;
    top: -37px;
    right: -39px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #44b759;
    padding: 20px;
    cursor: pointer;
}
.popup_close:before, .popup_close:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 41px;
    width: 3px;
    background-color: #333;
}
.popup_close:before {
    transform: rotate(45deg);
}
.popup_close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 1549px) {
    .popup_close {
        top: -28px;
        right: -25px;
        width: 28px;
        height: 28px;
        padding: 13px;
    }
    .popup_close:before, .popup_close:after {
        height: 29px;
        width: 2px;
    }
}
@media screen and (max-width: 1199px) {
    .popup_close {
        top: -22px;
        right: -21px;
        width: 24px;
        height: 24px;
        padding: 11px;
    }
    .popup_close:before, .popup_close:after {
        height: 25px;
        width: 2px;
    }
}

.open_popup {
    cursor: pointer;
}

/*---------------------*/


.block-forms, .block-forms-popup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-header {
    background-color: #24282b;
    color: white;
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
    position: relative;
    height: 188px;
}
@media screen and (max-width: 1549px) {
    .form-header {
        height: 130px;
    }
}
@media screen and (max-width: 1199px) {
    .form-header {
        height: 110px;
    }
}

.green-header-title {
    color: #44b759;
}

.title-caption {
    color: white;
    font-family: "Century Gothic";
    font-size: 18px;
    margin-top: 25px;
}
@media screen and (max-width: 1780px) {
    .title-caption{
        font-size: 14px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1400px) {
    .second-part-feedback .title-caption {
        font-size: 12px;
    }
}
@media screen and (max-width: 1199px) {
    .title-caption{
        font-size: 11px;
        margin-top: 12px;
    }
    .second-part-feedback .title-caption {
        font-size: 9px;
    }
}

.contacts-content{
    display: flex;
}

.header-part-title{
    color: white;
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
}
@media screen and (max-width: 1650px) {
    .header-part-title {
        font-size: 46px;
    }
}
@media screen and (max-width: 1549px) {
    .header-part-title {
        font-size: 33px;
    }
}
@media screen and (max-width: 1199px) {
    .header-part-title {
        font-size: 24px;
    }
}


/*------------------------------*/


.feedback-header{
    padding: 0;
    height: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-block-container{
    width: 37%;
}

.feedback-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}
@media screen and (max-width: 1400px) {
    .feedback-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}

.feedback-container{
    width: 100%;
}

.feedback-helper{
    position: relative;
}

.second-part-feedback{
    width: 48%;
    position: absolute;
    right: 0;
    background-color: #24282b;
    margin-top: -1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 1400px) {
    .second-part-feedback{
        width: 47%;
    }
}

.feedback-number{
    font-family: "Century Gothic";
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 75px;
}
@media screen and (max-width: 1549px) {
    .feedback-number{
        font-size: 43px;
        margin-top: 55px;
    }
}
@media screen and (max-width: 1199px) {
    .feedback-number {
        font-size: 30px;
        margin-top: 30px;
    }
}

.feedback-block-part{
    width: 0;
    height: 0;
    border-bottom: 601px solid #24282b;
    border-left: 190px solid transparent;
    position: absolute;
    top: 0;
    right: 47.9%;
}
@media screen and (max-width: 1549px) {
    .feedback-block-part{
        border-bottom: 485px solid #24282b;
        border-left: 190px solid transparent;
    }
}
@media screen and (max-width: 1400px) {
    .feedback-block-part{
        border-bottom: 415px solid #24282b;
        border-left: 150px solid transparent;
        right: 46.9%;
    }
}
@media screen and (max-width: 1199px) {
    .feedback-block-part{
        border-bottom: 394px solid #24282b;
        border-left: 100px solid transparent;
        right: 46.8%;
    }
}


.form-block-container{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.form-block-title{
    font-family: "Century Gothic";
    font-size: 24px;
}
@media screen and (max-width: 1549px) {
    .form-block-title{
        font-size: 19px;
    }
}
@media screen and (max-width: 1199px) {
    .form-block-title{
        font-size: 14px;
    }
}

.form-title-word{
    font-weight: bold;
}

.real-form{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
    align-items: center;
}
@media screen and (max-width: 1400px) {
    .real-form{
        margin-top: 35px;
    }
}

.forms-input{
    font-size: 18px;
    font-family: "Century Gothic";
    padding: 22px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}
@media screen and (max-width: 1549px) {
    .forms-input{
        font-size: 12px;
        padding: 13px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1199px) {
    .forms-input{
        font-size: 14px;
        padding: 14px;
        margin-top: 20px;
    }
}

.forms-input:first-of-type{
    margin-top: 0;
}

.forms-button{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #24282b;
    padding: 25px;
    text-align: center;
    border: none;
}
@media screen and (max-width: 1549px) {
    .forms-button{
        margin-top: 45px;
        font-size: 19px;
        padding: 15px;
    }
}
@media screen and (max-width: 1400px) {
    .forms-button{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1199px) {
    .forms-button{
        margin-top: 30px;
        font-size: 16px;
        padding: 12px;
        margin-bottom: 30px;
    }
}

input[type="submit"] {
    cursor: pointer;
}

.scrollup{
    width: 60px;
    height: 60px;
    position: fixed;
    opacity: 0.9;
    bottom: 30px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url(../images/icon_top.png) no-repeat;
    background-size: cover;
    z-index: 6;
    border-radius: 50%;
}
