@font-face {
    font-family: "SegoeScript";
    src: url("../../common/fonts/SegoeScript.otf");
}

@font-face {
    font-family: "Century Gothic";
    src: url("../../common/fonts/CenturyGothic.ttf");
}

.active-page{
    color: #44b759;
}

.company-developer-block{
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.logo-developers{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.wrapper{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.inner-container{
    max-width: 1806px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 1890px) {
    .inner-container {
        width: 95%;
    }
}
@media screen and (max-width: 1780px) {
    .inner-container {
        width: 95%;
    }
}
@media screen and (max-width: 1549px) {
    .inner-container {
        width: 93%;
    }
}
@media screen and (max-width: 1199px) {
    .inner-container {
        width: 95%;
    }
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
}

.header-content{
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1350px) {
    .header-content{
        height: 105px;
    }
}
@media screen and (max-width: 1199px) {
    .header-content{
        height: 70px;
    }
}


.logo {
    background: url(../../common/images/logo.png) 100% 100% no-repeat;
    background-size: cover;
    width: 100px;
    height: 65px;
}
@media screen and (max-width: 1549px) {
    .logo {
        width: 98px;
        height: 60px;
    }
}
@media screen and (max-width: 1199px) {
    .logo {
        width: 88px;
        height: 51px;
    }
}

.nav {
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 18px;
    width: 76%;
}
@media screen and (max-width: 1549px) {
    .nav {
        font-size: 14px;
        width: 74%;
    }
}
@media screen and (max-width: 1199px) {
    .nav {
        font-size: 11px;
        width: 71%;
    }
}

.number {
    font-size: 30px;
}
@media screen and (max-width: 1549px) {
    .number {
        font-size: 23px;
    }
}
@media screen and (max-width: 1199px) {
    .number {
        font-size: 17px;
    }
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 140px;
}
@media screen and (max-width: 1549px) {
    .social {
        width: 11%;
    }
}
@media screen and (max-width: 1199px) {
    .social {
        width: 12%;
    }
}

.icon{
    background: url(../img/sprites.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.icon2{
    background-position-x: -25px;
}

.icon3{
    background-position-x: -50px;
}

.icon4{
    background-position-x: -73px;
}

.icon5{
    background-position-x: -95px;
}

.languages {
    font-family: "Calibri";
    font-size: 18px;
}

.info-paragraph{
    font-family: "Century Gothic";
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}
@media screen and (max-width: 1549px) {
    .info-paragraph {
        font-size: 14px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1199px) {
    .info-paragraph {
        font-size: 11px;
        margin-top: 8px;
    }
}

.item-desc-title{
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.block-img-text{
    color: white;
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
    background-color: rgba(24, 90, 19, 0.7);
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.main-item-description{
    margin-top: 30px;
    text-align: justify;
}

/*.form-header{*/
    /*background-color: #24282b;*/
    /*color: white;*/
    /*font-family: "Century Gothic";*/
    /*font-size: 48px;*/
    /*font-weight: bold;*/
    /*position: relative;*/
    /*padding: 85px 0 70px 0;*/
/*}*/

/*.green-header-title{*/
    /*color: #44b759;*/
/*}*/

/*.contacts-container{*/
    /*width: 100%;*/
    /*margin-top: 65px;*/
/*}*/

/*.contacts-content{*/
    /*display: flex;*/
/*}*/

/*.form-block-container{*/
    /*display: flex;*/
    /*width: 50%;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
/*}*/

/*.form-block-title{*/
    /*font-family: "Century Gothic";*/
    /*font-size: 24px;*/
/*}*/
/*@media screen and (max-width: 1549px) {*/
    /*.form-block-title{*/
        /*font-size: 19px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.form-block-title{*/
        /*font-size: 14px;*/
    /*}*/
/*}*/

/*.form-title-word{*/
    /*font-weight: bold;*/
/*}*/

/*.real-form{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-top: 60px;*/
    /*width: 100%;*/
    /*align-items: center;*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
    /*.real-form{*/
        /*margin-top: 35px;*/
    /*}*/
/*}*/

/*.forms-input{*/
    /*font-size: 18px;*/
    /*font-family: "Century Gothic";*/
    /*padding: 22px;*/
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*margin-top: 20px;*/
/*}*/
/*@media screen and (max-width: 1549px) {*/
    /*.forms-input{*/
        /*font-size: 12px;*/
        /*padding: 13px;*/
        /*!* width: 41%; *!*/
        /*margin-top: 20px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.forms-input{*/
        /*font-size: 14px;*/
        /*padding: 14px;*/
        /*!*width: 41%;*!*/
        /*margin-top: 20px;*/
    /*}*/
/*}*/

/*.forms-input:first-of-type{*/
    /*margin-top: 0;*/
/*}*/

/*.forms-button{*/
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    /*width: 100%;*/
    /*font-family: "Century Gothic";*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*background-color: #24282b;*/
    /*padding: 25px;*/
    /*text-align: center;*/
    /*border: none;*/
/*}*/
/*@media screen and (max-width: 1549px) {*/
    /*.forms-button{*/
        /*margin-top: 45px;*/
        /*!*width: 63%;*!*/
        /*font-size: 19px;*/
        /*padding: 15px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
    /*.forms-button{*/
        /*margin-bottom: 30px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.forms-button{*/
        /*margin-top: 30px;*/
        /*font-size: 16px;*/
        /*padding: 12px;*/
        /*margin-bottom: 30px;*/
    /*}*/
/*}*/

/*.feedback-block-container{*/
    /*width: 37%;*/
/*}*/

/*.feedback-content{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*margin-top: 65px;*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
    /*.feedback-content{*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*margin-top: 40px;*/
    /*}*/
/*}*/

/*.feedback-container{*/
    /*width: 100%;*/
/*}*/

/*.feedback-input{*/
    /*width: 51%;*/
/*}*/

/*.feedback-button{*/
    /*width: 71.3%;*/
/*}*/

/*.feedback-helper{*/
    /*position: relative;*/
/*}*/

/*.second-part-feedback{*/
    /*width: 48%;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*background-color: #24282b;*/
    /*margin-top: -1px;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
    /*.second-part-feedback{*/
        /*width: 47%;*/
    /*}*/
/*}*/

/*.title-caption {*/
    /*color: white;*/
    /*font-family: "Century Gothic";*/
    /*font-size: 18px;*/
    /*margin-top: 25px;*/
/*}*/
/*@media screen and (max-width: 1780px) {*/
    /*.title-caption{*/
        /*font-size: 14px;*/
        /*margin-top: 20px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
    /*.second-part-feedback .title-caption {*/
        /*font-size: 12px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.title-caption{*/
        /*font-size: 11px;*/
        /*margin-top: 12px;*/
    /*}*/
    /*.second-part-feedback .title-caption {*/
        /*font-size: 9px;*/
    /*}*/
/*}*/

/*.header-part-title{*/
    /*color: white;*/
    /*font-family: "Century Gothic";*/
    /*font-size: 48px;*/
    /*font-weight: bold;*/
/*}*/
/*@media screen and (max-width: 1650px) {*/
    /*.header-part-title {*/
        /*font-size: 46px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1549px) {*/
    /*.header-part-title {*/
        /*font-size: 33px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.header-part-title {*/
        /*font-size: 24px;*/
    /*}*/
/*}*/

/*.feedback-number{*/
    /*font-family: "Century Gothic";*/
    /*font-size: 60px;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*margin-top: 75px;*/
/*}*/
/*@media screen and (max-width: 1549px) {*/
    /*.feedback-number{*/
        /*font-size: 43px;*/
        /*margin-top: 55px;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.feedback-number {*/
        /*font-size: 30px;*/
        /*margin-top: 30px;*/
    /*}*/
/*}*/


/*.feedback-block-part{*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-bottom: 601px solid #24282b;*/
    /*border-left: 190px solid transparent;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 47.9%;*/
/*}*/
/*@media screen and (max-width: 1549px) {*/
    /*.feedback-block-part{*/
        /*border-bottom: 489px solid #24282b;*/
        /*border-left: 190px solid transparent;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1400px) {*/
    /*.feedback-block-part{*/
        /*border-bottom: 415px solid #24282b;*/
        /*border-left: 150px solid transparent;*/
        /*right: 46.9%;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1199px) {*/
    /*.feedback-block-part{*/
        /*border-bottom: 394px solid #24282b;*/
        /*border-left: 100px solid transparent;*/
        /*right: 46.8%;*/
    /*}*/
/*}*/


.banner-third-page{
    width: 100%;
    background: url(../img/banner.png) 100% 100% no-repeat;
    background-size: cover;
    height: 540px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .banner-third-page{
        height: 445px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .banner-third-page{
        height: 360px;
    }
}

@media screen and (max-width: 1199px) {
    .banner-third-page{
        height: 280px;
    }
}

.banner-third-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-third-page-title{
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 170px;
    letter-spacing: 2px;
    line-height: normal;
}
@media screen and (max-width: 1780px) {
    .banner-third-page-title{
        font-size: 50px;
        margin-top: 140px;
    }
}
@media screen and (max-width: 1549px) {
    .banner-third-page-title{
        font-size: 40px;
        margin-top: 105px;
    }
}
@media screen and (max-width: 1199px) {
    .banner-third-page-title{
        font-size: 30px;
        margin-top: 80px;
    }
}

.banner-third-page-caption{
    text-align: center;
    font-family: "Century Gothic";
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 1160px;
    margin-top: 35px;
    line-height: 1.3;
}
@media screen and (max-width: 1780px) {
    .banner-third-page-caption{
        font-size: 16px;
        width: 1000px;
        margin-top: 25px;
    }
}
@media screen and (max-width: 1549px) {
    .banner-third-page-caption{
        font-size: 16px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1199px) {
    .banner-third-page-caption{
        font-size: 12px;
        width: 740px;
        margin-top: 10px;
    }
}

.open-flat{
    width: 100%;
    margin-top: 70px;
}
@media screen and (max-width: 1549px) {
    .open-flat{
        width: 100%;
        margin-top: 60px;
    }
}
@media screen and (max-width: 1199px) {
    .open-flat{
        margin-top: 50px;
    }
}

.open-flat-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-part-open{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.img-first-open{
    width: 73.2%;
    height: 720px;
    background: url(../img/img-first-open.png) 100% 100% no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .img-first-open{
        height: 620px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .img-first-open{
        height: 550px;
    }
}

@media screen and (max-width: 1199px) {
    .img-first-open{
        height: 470px;
    }
}

.text-block-first-open{
    width: 23.6%;
    display: flex;
    flex-direction: column;
}

.first-text-header{
    font-size: 30px;
    font-weight: bold;
    font-family: "Century Gothic";
    margin-top: 30px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .first-text-header{
        font-size: 25px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .first-text-header{
        font-size: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1199px) {
    .first-text-header{
        font-size: 16px;
        margin-top: 5px;
    }
}

.first-block-text{
    font-size: 18px;
    font-family: "Century Gothic";
    margin-top: 30px;
    text-align: justify;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .first-block-text{
        font-size: 16px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .first-block-text{
        font-size: 14px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1199px) {
    .first-block-text{
        font-size: 12px;
        margin-top: 10px;
    }
}

.first-block-text-title{
    font-weight: bold;
}

.sale-block{
    width: 100%;
}

.sale-item{
    width: 31.5%;
}

.sale-img{
background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 80px;
    height: 420px;
    width: 100%;
    font-family: "Century Gothic";
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .sale-img{
        font-size: 70px;
        height: 380px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sale-img{
        font-size: 60px;
        height: 320px;
    }
}

@media screen and (max-width: 1199px) {
    .sale-img{
        font-size: 45px;
        height: 250px;
    }
}

/*@media screen and (max-width: 1199px) {*/
    /*.main-item-block-caption{*/
        /*padding: 25px 40px;*/
        /*text-align: center;*/
    /*}*/
/*}*/

.sale-block-content{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}
@media screen and (max-width: 1780px) {
    .sale-block-content{
        margin: 80px 0;
    }
}
@media screen and (max-width: 1549px) {
    .sale-block-content{
        margin: 65px 0;
    }
}
@media screen and (max-width: 1199px) {
    .sale-block-content{
        margin: 50px 0;
    }
}

.sale-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .sale-text{
        height: 150px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sale-text{
    height: 150px;
    }
}

@media screen and (max-width: 1199px) {
    .sale-text{
        height: 100px;
    }
}

.sale-text-title{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .sale-text-title{
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sale-text-title{
        font-size: 22px;
    }
}

@media screen and (max-width: 1199px) {
    .sale-text-title{
        font-size: 20px;
    }
}

.sale-text-paragraph{
    font-family: "Century Gothic";
    font-size: 18px;
    text-align: justify;
    width: 70%;
    text-align: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .sale-text-paragraph{
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sale-text-paragraph{
        font-size: 14px;
    }
}

@media screen and (max-width: 1199px) {
    .sale-text-paragraph{
        font-size: 10px;
    }
}

.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 511px;
    background: url(../img/contact-row-background.png) no-repeat 100% 100%;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 1549px) {
    .section-contact {
        height: 370px;
    }
}
@media screen and (max-width: 1199px) {
    .section-contact {
        height: 260px;
    }
}

.contact-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-description-header {
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
}
@media screen and (max-width: 1549px) {
    .contact-description-header {
        font-size: 36px;
    }
}
@media screen and (max-width: 1199px) {
    .contact-description-header {
        font-size: 25px;
    }
}

.contact-description-text {
    margin-top: 30px;
    color: white;
}
@media screen and (max-width: 1549px) {
    .contact-description-text {
        font-size: 14px;
    }
    .contact-description-text {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1199px) {
    .contact-description-text {
        font-size: 11px;
    }
    .contact-description-text {
        margin-top: 12px;
    }
}

.contact-interplay {
    margin-top: 60px;
    height: 71px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1549px) {
    .contact-interplay {
        margin-top: 45px;
        height: 56px;
    }
}
@media screen and (max-width: 1199px) {
    .contact-interplay {
        margin-top: 34px;
        height: 42px;
    }
}

.more-button {
    width: 46%;
    padding: 19px 0;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
}
@media screen and (max-width: 1549px) {
    .more-button {
        padding: 14px 0;
        font-size: 19px;
    }
}
@media screen and (max-width: 1199px) {
    .more-button {
        width: 45%;
        padding: 11px 0;
        font-size: 13px;
    }
}

.left-button {
    background-color: white;
    border: 0;
}

.right-button{
    border: 2px solid white;
    background: none;
    color: white;
}

.interplay-right-button {
    border: 2px solid rgb(68, 183, 89);
    background: none;
}

.phone {
    font-family: "Century Gothic";
    font-size: 60px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1549px) {
    .phone {
        font-size: 45px;
    }
}
@media screen and (max-width: 1199px) {
    .phone {
        font-size: 30px
    }
}

.first-color-text {
    color: rgb(68, 183, 89);
}

.second-color-text {
    color: white;
}

.block-forms {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-header {
    background-color: #24282b;
    color: white;
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
    position: relative;
    height: 294px;
}
@media screen and (max-width: 1549px) {
    .form-header {
        height: 200px;
    }
}
@media screen and (max-width: 1199px) {
    .form-header {
        height: 160px;
    }
}

.feedback-header{
    padding: 0;
    height: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-part-title{
    color: white;
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
}
@media screen and (max-width: 1650px) {
    .header-part-title {
        font-size: 46px;
    }
}
@media screen and (max-width: 1549px) {
    .header-part-title {
        font-size: 33px;
    }
}
@media screen and (max-width: 1199px) {
    .header-part-title {
        font-size: 24px;
    }
}

.feedback-container{
    width: 100%;
}

.contacts-content{
    display: flex;
}

.feedback-helper{
    position: relative;
}

.feedback-block-container{
    width: 37%;
}


.section-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 245px;
    background: url(../img/section-row-background.png) no-repeat 100% 100%;
    background-size: cover;
}
@media screen and (max-width: 1549px) {
    .section-row {
        height: 195px;
    }
}
@media screen and (max-width: 1199px) {
    .section-row {
        height: 130px;
    }
}

.row-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.row-content {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    font-family: "Century Gothic";
}

.block-caption-title {
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bold;
}
@media screen and (max-width: 1705px) {
    .block-caption-title {
        font-size: 27px;
    }
}
@media screen and (max-width: 1549px) {
    .block-caption-title {
        font-size: 23px;
    }
}
@media screen and (max-width: 1199px) {
    .block-caption-title {
        font-size: 16px;
    }
}

.main-item-block-caption {
    padding: 40px 59px;
}
@media screen and (max-width: 1703px) {
    .main-item-block-caption {
        padding: 40px 30px;
    }
}
@media screen and (max-width: 1050px) {
    .main-item-block-caption {
        padding: 24px 22px;
    }
}

.block-img-text {
    color: white;
    font-family: "Century Gothic";
    font-size: 48px;
    font-weight: bold;
    background-color: rgba(24, 90, 19, 0.7);
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
@media screen and (max-width: 1549px) {
    .block-img-text {
        font-size: 33px;
    }
}
@media screen and (max-width: 1399px) {
    .block-img-text {
        font-size: 29px;
    }
}
@media screen and (max-width: 1199px) {
    .block-img-text {
        font-size: 22px;
        padding: 11px 0;
    }
}

.main-item-description {
    text-align: justify;
}

.item-desc-title {
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 1549px) {
    .item-desc-title {
        font-size: 18px;
    }
}

.row-content .main-item-description {
    width: 390px;
    margin-left: 110px;
}
@media screen and (max-width: 1199px) {
    .row-content .main-item-description {
        width: 250px;
        /*margin-left: 110px;*/
    }
}

.row-content .info-paragraph,.row-content .item-desc-title {
    color: white;
}

.smooth {
    opacity: 0.65;
}


.footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    height: 51px;
}

.footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Calibri;
    font-size: 18px;
    font-weight: normal;
}

.communication-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.communication-info, .copyright-years {
    margin-right: 15px;
}

.communication-block {
    margin-right: 100px;
}

.sec-contact-helper{
    margin-top: 80px;
}
@media screen and (max-width: 1550px) {
    .sec-contact-helper{
        margin-top: 70px;
    }
}
@media screen and (max-width: 1199px) {
    .sec-contact-helper{
        margin-top: 55px;
    }
}

.switch-panel{
    width: 100%;
    display: flex;
    background-color: #2a2c2b;
    height: 140px;
    margin-top: 70px;
}
@media screen and (max-width: 1550px) {
    .switch-panel{
        height: 115px;
        margin-top: 35px;
    }
}
@media screen and (max-width: 1199px) {
    .switch-panel{
        height: 85px;
        margin-top: 35px;
    }
}

.switch-panel-button{
    width: 25%;
    color: white;
    font-family: "Century Gothic";

}

.switch-panel-button:hover{
    background-color: #00662e;
    cursor: pointer;
}

.switch-button-title{
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 40px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .switch-button-title{
        font-size: 24px;
        margin-left: 40px;
        margin-top: 35px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .switch-button-title{
        font-size: 20px;
        margin-left: 26px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1199px) {
    .switch-button-title{
        font-size: 16px;
        margin-left: 14px;
        margin-top: 22px;
    }
}

.switch-button-caption{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .switch-button-caption{
        font-size: 16px;
        margin-left: 40px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .switch-button-caption{
        font-size: 14px;
        margin-left: 26px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1199px) {
    .switch-button-caption{
        font-size: 12px;
        margin-left: 14px;
        margin-top: 10px;
    }
}

.switch-price{
    width: 25%;
    color: #44b759;
    font-family: "Century Gothic";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .switch-price{
        font-size: 44px;

    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .switch-price{
        font-size: 36px;

    }
}

@media screen and (max-width: 1199px) {
    .switch-price{
        font-size: 26px;
    }
}

.second-part-open{
    margin-top: 65px;
}
@media screen and (max-width: 1550px) {
    .second-part-open{
        margin-top: 35px;
    }
}
@media screen and (max-width: 1199px) {
    .second-part-open{
        margin-top: 35px;
    }
}

.second-open-title{
    font-weight: bold;
    font-size: 30px;
    font-family: "Century Gothic";
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .second-open-title{
        font-size: 26px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .second-open-title{
        font-size: 22px;
    }
}

@media screen and (max-width: 1199px) {
    .second-open-title{
        font-size: 18px;
    }
}

.second-open-paragraph{
    font-size: 18px;
    font-family: "Century Gothic";
    margin-top: 30px;
    text-align: justify;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .second-open-paragraph{
        font-size: 15px;
        margin-top: 24px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .second-open-paragraph{
        font-size: 12px;
        margin-top: 18px;
    }
}

@media screen and (max-width: 1199px) {
    .second-open-paragraph{
        font-size: 9px;
        margin-top: 15px;
    }
}

.buttons-part-open{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-open{
    width: 18.8%;
    height: 70px;
    background-color: #2a2c2b;
    color: white;
    border: none;
    font-family: "Century Gothic";
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .button-open{
        height: 65px;
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .button-open{
        height: 60px;
        font-size: 20px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .button-open{
        height: 50px;
        font-size: 16px;
        margin-top: 30px;
    }
}

.button-open:hover{
    background-color: #00662e;
    cursor: pointer;
}

.flats-set-open{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.flat-open-item{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .flat-open-item{
        margin-top: 60px;
    }
}

@media screen and (max-width: 1199px) {
    .flat-open-item{
        margin-top: 45px;
    }
}

.img-flat-open{
    background: url(../img/flat-open-img.png) 100% 100% no-repeat;
    width: 170px;
    height: 220px;
}

.line-flat{
    font-family: "Century Gothic";
    font-size: 30px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .line-flat{
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .line-flat{
        font-size: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .line-flat{
        font-size: 14px;
    }
}

.point-line-flat{
    font-weight: bold;
}

.caption-flat-open{
    margin-top: 66px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .caption-flat-open{
        margin-top: 55px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .caption-flat-open{
        margin-top: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .caption-flat-open{
        margin-top: 25px;
    }
}

.button-item-flat{
    width: 81.8%;
}

.first-open-switch-var{
    display: flex;
    flex-direction: column;
}

.second-first-open{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.first-second-open-block{
    width: 46.5%;
    display: flex;
    flex-direction: column;
}

.second-second-open-block{
    width: 46.5%;
}

.map{
    width: 100%;
    height: 340px;
    margin-top: 50px;
}
@media screen and (max-width: 1780px) {
    .map{
        height: 310px;
    }
}
@media screen and (max-width: 1550px) {
    .map{
        height: 235px;
    }
}
@media screen and (max-width: 1199px) {
    .map{
        height: 180px;
        margin-top: 30px;
    }
}

.third-open-switch-var{
    display: flex;
    flex-direction: column;
}

.third-second-part-open{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 66px;
}

.first-column-third-open{
    width: 31.5%;
}

.second-column-third-open{
    width: 35.2%;
}

.third-column-third-open{
    width: 26.7%;
}

.second-part-open-second{
    margin-top: 25px;
}

.sale-text-third{
    background-color: #f4f4f4;
}

.input-open,
.input-button-part{
    display: none;
}

.input-open:checked + .switch-panel-button,
.input-button-part:checked + .button-open{
    background-color: #00662e;
}


.block-set-flats{
    width: 100%;
    margin: 90px 0;
}
@media screen and (max-width: 1780px) {
    .block-set-flats{
        margin: 80px 0;
    }
}
@media screen and (max-width: 1550px) {
    .block-set-flats{
        margin: 70px 0;
    }
}
@media screen and (max-width: 1199px) {
    .block-set-flats{
        margin: 60px 0;
    }
}


.block-set-flats-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flat-img-1{
    background-size: cover;
    background: url(../img/flat-img-1.png) 100% 100% no-repeat;
}

.flat-img-2{
    background-size: cover;
    background: url(../img/flat-img-2.png) 100% 100% no-repeat;
}

.flat-img-3{
    background-size: cover;
    background: url(../img/flat-img-3.png) 100% 100% no-repeat;
}

.main-item-img-set{
    height: 422px;
    background-size: cover;
}

.main-item-block {
    background-color: #f4f4f4;
}

.main-item-block-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 440px;
}
@media screen and (max-width: 1703px){
    .main-item-block-img {
        height: 372px;
    }
}
@media screen and (max-width: 1549px){
    .main-item-block-img {
        height: 24vw;
    }
}

.img-text-set-flats{
    width: 77%;
    background-color: #2a2c2b;
    transition: all .4s ease;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .img-text-set-flats{
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .img-text-set-flats{
        font-size: 30px;
        width: 65%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 1199px) {
    .img-text-set-flats{
        font-size: 25px;
        width: 65%;
        padding: 10px 0;
    }
}

.card-flat-set{
    width: 31%;
}

.main-item-block:hover{
    cursor: pointer;
    background-color: #2a2c2b;
    color: white;
}

.main-item-block:hover .img-text-set-flats {
    background-color: rgba(24, 90, 19, 0.8);
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .block-caption-paragraph{
        margin-top: 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .block-caption-paragraph{
        margin-top: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1199px) {
    .block-caption-paragraph{
        margin-top: 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1199px) {
    .main-item-block-caption{
        padding: 25px 40px;
        text-align: center;
    }
}
