/*NEW*/

.page-4-main-container{
    margin-top: 35px;
}

.page-4-main-container{
    width: 100%;
  }

.page-4-main-content{
    display: flex;
    flex-direction: column;
}

.changeable-container-item{
    margin-top: 60px;
}

.changeable-item{
    display: flex;
    flex-direction: column;
}

.down-animate {
    animation: down-animate 0.6s linear;
    visibility: initial;
}

@keyframes down-animate {
    0% {
        transform: translateY(-150px);
        visibility: hidden;
    }
    91%{
        transform: translateY(-90px);
        visibility: hidden;
    }
    92%{
        transform: translateY(-80px);
        visibility: initial;
    }
    100% {
        transform: translateY(0);
        visibility: initial;
    }
}

.up-animate{
    animation: up-animate 0.6s linear;
    visibility: hidden;
}

@keyframes up-animate {
    0% {
        transform: translateY(0);
        visibility: initial;
    }
    8%{
        transform: translateY(-80px);
        visibility: initial;
    }
    9%{
        transform: translateY(-90px);
        visibility: hidden;
    }
    100% {
        transform: translateY(-150px);
        visibility: hidden;
    }
}


.first-block-main{
    display: flex;
    justify-content: space-between;
    height: auto;
}

.third-block-main{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    height: 400px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .third-block-main{
        height: 365px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .third-block-main{
        height: 300px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1199px) {
    .third-block-main{
        height: 265px;
        margin-top: 10px;
    }
}


.text-first-block-main{
    width: 65%;
}

.text-third-block-main{
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-first-block-main{
    width: 31%;
    height: auto;
    background: url(../img/img1page4.png) 100% 100% no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .img-first-block-main{
        height: 449px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .img-first-block-main{
        height: 387px;
    }
}
@media screen and (max-width: 1199px) {
    .img-first-block-main{
        height: 265px;
    }
}

.title-four-main{
    text-align: center;
    font-family: "Century Gothic";
    font-size: 60px;
    font-weight: bold;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .title-four-main{
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .title-four-main{
        font-size: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .title-four-main{
        font-size: 30px;
    }
}

.paragraph-four-main{
    margin-top: 35px;
    text-align: justify;
    line-height: 20px;
    font-family: "Century Gothic";
    font-size: 18px;
}

@media screen and (max-width: 1780px) {
    .paragraph-four-main{
        margin-top: 20px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1549px) {
    .paragraph-four-main{
        margin-top: 15px;
        font-size: 14px;
        line-height: 15px;
    }
}
@media screen and (max-width: 1199px) {
    .paragraph-four-main{
        margin-top: 10px;
        font-size: 12px;
        line-height: 14px;
    }
}

.img-third-block-main{
    width: 65%;
    height: 100%;
    background: url(../img/img2page4.png) 100% 100% no-repeat;
    background-size: cover;
    margin-top: 15px;
}

.page-4-buttons-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
}

.radio-buttons{
    display: none;
  }

.radio-buttons:checked + .button-4-page{
    background-color: #2a2c2b;
    color: white;
}

.button-4-page{
    width: 31.5%;
    height: 225px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .4s ease;
    margin-top: 40px;
}

.button-4-page:hover{
    background-color: darkgray;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 1550px) {
    .button-4-page{
        height: 160px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1199px) {
    .button-4-page{
        height: 130px;
    }
}

.caption-button-4-page{
    margin-top: 30px;
    text-align: center;
    width: 400px;
    font-family: "Calibri";
    font-size: 18px;
}

@media screen and (max-width: 1780px) {
    .caption-button-4-page{
        font-size: 16px;
        margin-top: 24px;
        width: 313px;
    }
}
@media screen and (max-width: 1550px) {
    .caption-button-4-page{
        font-size: 14px;
        margin-top: 15px;
        width: 313px;
    }
}
@media screen and (max-width: 1199px) {
    .caption-button-4-page{
        font-size: 12px;
        margin-top: 15px;
        width: 265px;
    }
}

.block-caption-title{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bold;
}
@media screen and (max-width: 1780px) {
    .block-caption-title{
        font-size: 30px;
    }
}
@media screen and (max-width: 1550px) {
    .block-caption-title{
        font-size: 24px;
    }
}
@media screen and (max-width: 1199px) {
    .block-caption-title{
        font-size: 20px;
    }
}

.sec-contact-helper{
    margin-top: 80px;
}

.sale-block{
    width: 100%;
}

.sale-item{
    width: 31.5%;
}

.sale-img{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 80px;
    height: 420px;
    width: 100%;
    font-family: "Century Gothic";
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .sale-img{
        font-size: 70px;
        height: 380px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sale-img{
        font-size: 60px;
        height: 320px;
    }
}

@media screen and (max-width: 1199px) {
    .sale-img{
        font-size: 45px;
        height: 250px;
    }
}

@media screen and (max-width: 1199px) {
    .main-item-block-caption{
        padding: 25px 40px;
        text-align: center;
    }
}

.sale-block-content{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    width: 100%;
}
@media screen and (max-width: 1780px) {
    .sale-block-content{
        margin: 80px 0;
    }
}
@media screen and (max-width: 1549px) {
    .sale-block-content{
        margin: 65px 0;
    }
}
@media screen and (max-width: 1199px) {
    .sale-block-content{
        margin: 50px 0;
    }
}

.sale-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale-text-title{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
    text-align: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .sale-text-title{
        font-size: 28px;
        margin-top: 65px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .sale-text-title{
        font-size: 22px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 1199px) {
    .sale-text-title{
        font-size: 20px;
        margin-top: 35px;
    }
}

.sale-text-paragraph{
    font-family: "Century Gothic";
    font-size: 18px;
    text-align: justify;
    width: 77%;
}
@media screen and (max-width: 1780px) {
    .sale-text-paragraph{
        font-size: 16px;
    }
}
@media screen and (max-width: 1550px) {
    .sale-text-paragraph{
        font-size: 14px;
    }
}
@media screen and (max-width: 1199px) {
    .sale-text-paragraph{
        font-size: 12px;
    }
}

.banner-third-page{
    width: 100%;
    background: url(../img/banner-4-page.png) 100% 100% no-repeat;
    background-size: cover;
    height: 540px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .banner-third-page{
        height: 445px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .banner-third-page{
        height: 360px;
    }
}

@media screen and (max-width: 1199px) {
    .banner-third-page{
        height: 280px;
    }
}

.banner-third-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-third-page-title{
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 205px;
    letter-spacing: 2px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .banner-third-page-title{
        font-size: 50px;
        margin-top: 170px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .banner-third-page-title{
        font-size: 40px;
        margin-top: 105px;
    }
}

@media screen and (max-width: 1199px) {
    .banner-third-page-title{
        font-size: 30px;
        margin-top: 70px;
    }
}

.banner-third-page-caption{
    text-align: center;
    font-family: "Century Gothic";
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 1222px;
    margin-top: 35px;
    line-height: 1.3;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .banner-third-page-caption{
        font-size: 16px;
        width: 1000px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .banner-third-page-caption{
        font-size: 16px;
        width: 1000px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .banner-third-page-caption{
        font-size: 12px;
        width: 740px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .banner-four-page-title{
        margin-top: 135px;
    }
}

@media screen and (max-width: 1199px) {
    .banner-four-page-title {
        margin-top: 105px;
    }
}
